.myTable {
  border-collapse: collapse;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.myTable thead {
  text-align: center;
}

.myTable td,
.myTable th {
  border: 1px solid #2c3333;
  padding: 8px;
}

.myTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2c3333;
  color: white;
}
