.table-container {
  max-height: 400px;
  overflow-y: auto;
  padding: 20px; /* Add padding around the table container */
}


.csv-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.csv-table th,
.csv-table td {
  padding: 8px;
  border: 1px solid #ddd; /* Add border for each cell */
}

.csv-table th {
  background-color: #f8f9fa;
  font-weight: bold;
}

.csv-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}


.csv-table tbody tr:hover {
  background-color: #cbe7ff; /* Change the background color when hovered */
  transition: background-color 0.3s ease; /* Add smooth transition */
}

.csv-table tbody td:nth-child(odd) {
  background-color: #fff; /* Alternate row background color */
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  background-color: #007bff;
  border: 1px solid #007bff;
  color: #fff;
  padding: 8px 16px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button.active {
  background-color: #0056b3;
}

.page-input {
  margin-top: 20px;
  text-align: center;
}

.page-input input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.page-input button {
  background-color: #007bff;
  border: 1px solid #007bff;
  color: #fff;
  padding: 8px 16px;
  margin-left: 8px;
  border-radius: 5px;
}
